<!--Author K10s Open Source Team-->
<section class="nav-section">
    <article class="nav-logo">
        <img src="assets/images/icon-192x192.png" alt="Logo">
    </article>
    <article class="nav-header">
        <svg viewBox="0 0 24 24">
            <path d="M22.91,6.66v11.88L13,23.5V11.62L22.91,6.66z M12,9.88l9.88-4.94L12,0L2.12,4.94L12,9.88z M11,11.62L1.09,6.66v11.88 L11,23.5V11.62z"/>
        </svg>
        <span id="nav-username" class="nav-username">Username</span>
    </article>
    <ul class="nav-menu">
        <li class="nav-menu-item">
            <a routerLink="/dashboard">
                <svg viewBox="0 0 24 24" class="cursor-pointer">
                    <path d="M12,3A10,10,0,0,0,2,13a9.89,9.89,0,0,0,3.74,7.78,1,1,0,0,0,.62.22H17.64a1,1,0,0,0,.62-.22A9.89,9.89,0,0,0,22,13,10,10,0,0,0,12,3Zm4.83,6.55-3,4.56A1.91,1.91,0,0,1,14,15a2,2,0,1,1-2-2h.13l3-4.56a1,1,0,0,1,1.66,1.1Z"/>
                </svg>
                <span class="cursor-pointer">{{ 'NAV.DASHBOARD' | translate }}</span>
            </a>
        </li>
        <li class="nav-menu-item">
            <a routerLink="/search">
                <svg viewBox="0 0 16 16" class="cursor-pointer">
                    <path d="M12.027 9.92L16 13.95 14 16l-4.075-3.976A6.465 6.465 0 0 1 6.5 13C2.91 13 0 10.083 0 6.5 0 2.91 2.917 0 6.5 0 10.09 0 13 2.917 13 6.5a6.463 6.463 0 0 1-.973 3.42zM1.997 6.452c0 2.48 2.014 4.5 4.5 4.5 2.48 0 4.5-2.015 4.5-4.5 0-2.48-2.015-4.5-4.5-4.5-2.48 0-4.5 2.014-4.5 4.5z"/>
                </svg>
                <span class="cursor-pointer">{{ 'NAV.SEARCH' | translate }}</span>
            </a>
        </li>
        <li class="nav-menu-item">
            <a routerLink="/add">
                <svg viewBox="0 0 16 16" class="cursor-pointer">
                    <path d="M9 0H2V16H14V5L9 0ZM7 6V8H5V10H7V12H9V10H11V8H9V6H7Z"></path>
                </svg>
                <span class="cursor-pointer">{{ 'NAV.ADD' | translate }}</span>
            </a>
        </li>
        <li class="nav-menu-item">
            <a (click)="openSettingsModal()">
                <svg viewBox="0 0 24 24" class="cursor-pointer">
                    <path d="M21.42,21.42h0a2,2,0,0,1-2.82,0l-7.18-7.18A6.48,6.48,0,0,1,2,9.05a7.07,7.07,0,0,1,.1-1.85A1,1,0,0,1,3.8,6.74L7,10l2.49-.5L10,7,6.74,3.8A1,1,0,0,1,7.2,2.12,7.07,7.07,0,0,1,9.05,2a6.48,6.48,0,0,1,5.19,9.4l7.18,7.18A2,2,0,0,1,21.42,21.42Z"/>
                </svg>
                <span class="cursor-pointer">{{ 'NAV.SETTINGS' | translate }}</span>
            </a>
        </li>
        <section class="modal">
            <article class="modal-article">
                <span class="modal-close-button cursor-pointer" (click)="closeSettingsModal()">x</span>
                <h2>{{ 'NAV.SETTINGS' | translate }}</h2>
                <br>
                <button class="modal-theme-toggle-button cursor-pointer" (click)="toggleTheme()">
                    <svg viewBox="0 0 24 24" class="cursor-pointer">
                        <path d="m12 20.501v-17.001c-.019 0-.041 0-.064 0-1.549 0-2.999.424-4.24 1.162l.038-.021c-2.554 1.5-4.242 4.233-4.242 7.36s1.688 5.86 4.202 7.339l.04.022c1.202.716 2.652 1.14 4.2 1.14h.07-.004zm12.001-8.501v.09c0 2.187-.598 4.235-1.64 5.988l.03-.054c-1.067 1.824-2.544 3.301-4.311 4.337l-.056.031c-1.729 1.012-3.807 1.609-6.024 1.609s-4.295-.597-6.081-1.64l.057.031c-1.824-1.067-3.301-2.544-4.337-4.311l-.031-.056c-1.012-1.729-1.609-3.807-1.609-6.024s.597-4.295 1.64-6.081l-.031.057c1.067-1.824 2.544-3.301 4.311-4.337l.056-.031c1.729-1.012 3.807-1.609 6.024-1.609s4.295.597 6.081 1.64l-.057-.031c1.824 1.067 3.301 2.544 4.337 4.311l.031.056c1.012 1.699 1.61 3.747 1.61 5.934v.095z"/>
                    </svg>
                </button>
                <br><br>
                <section class="modal-dropdown">
                    <button class="modal-dropdown-button cursor-pointer" (click)="toggleDropdown()">
                        {{ 'NAV.LANGUAGE' | translate }}
                    </button>
                    <ul class="modal-dropdown-menu cursor-pointer" *ngIf="dropdownOpen">
                        <li *ngFor="let lang of settingsConfig.languages" [class.active]="lang.code === currentLanguage"  (click)="changeLanguage(lang.code)">
                            {{ lang.name }}
                        </li>
                    </ul>
                </section>
            </article>
        </section>
        <li class="nav-menu-item">
            <a href="https://k10s.eliasdh.com">
                <svg viewBox="0 0 24 24">
                    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-5 14H4v-4h11v4zm0-5H4V9h11v4zm5 5h-4V9h4v9z"/>
                </svg>
                <span class="cursor-pointer">K10s</span>
            </a>
        </li>
        <li class="nav-menu-item">
            <a (click)="logout()">
                <svg viewBox="0 0 52 52" class="cursor-pointer">
                    <path d="M21,48.5v-3c0-0.8-0.7-1.5-1.5-1.5h-10C8.7,44,8,43.3,8,42.5v-33C8,8.7,8.7,8,9.5,8h10 C20.3,8,21,7.3,21,6.5v-3C21,2.7,20.3,2,19.5,2H6C3.8,2,2,3.8,2,6v40c0,2.2,1.8,4,4,4h13.5C20.3,50,21,49.3,21,48.5z"></path> <path d="M49.6,27c0.6-0.6,0.6-1.5,0-2.1L36.1,11.4c-0.6-0.6-1.5-0.6-2.1,0l-2.1,2.1c-0.6,0.6-0.6,1.5,0,2.1l5.6,5.6 c0.6,0.6,0.2,1.7-0.7,1.7H15.5c-0.8,0-1.5,0.6-1.5,1.4v3c0,0.8,0.7,1.6,1.5,1.6h21.2c0.9,0,1.3,1.1,0.7,1.7l-5.6,5.6 c-0.6,0.6-0.6,1.5,0,2.1l2.1,2.1c0.6,0.6,1.5,0.6,2.1,0L49.6,27z"/>
                </svg>
                <span class="cursor-pointer">{{ 'NAV.LOGOUT' | translate }}</span>
            </a>
        </li>
    </ul>
    <article class="nav-github-container">
        <p id="nav-github-stars">{{ githubStars }}</p>
        <a class="cursor-pointer nav-github-button" href="https://github.com/EliasDeHondt/K10s">{{ 'NAV.REPOSITORY' | translate }}</a>
    </article>
</section>