/**********************************/
/* @since 01/01/2025              */
/* @author K10s Open Source Team  */
/**********************************/

/* Navigation Bar */
::ng-deep .nav {
  background-color: var(--tertiary);
  color: var(--secondary);
  border-radius: var(--radius);
  box-shadow: 2px 0 5px var(--shadow);
  min-width: 150px;
  padding: 20px;
  top: 20px;
}

.nav-header {
    color: var(--secondary);
    margin-bottom: 20px;
}

.nav-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.nav-logo img {
    width: 120px;
    height: 120px;
}

.nav-username {
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: var(--radius);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-menu-item:hover span, .nav-menu-item:hover svg {
    color: var(--accent);
    fill: var(--accent);
}

.nav-menu-item a {
    color: var(--secondary);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-header svg, .nav-menu-item svg {
    fill: var(--secondary);
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: fill 0.3s ease;
}

.nav-menu-item span {
    color: var(--text);
    font-size: 1rem;
    transition: color 0.3s ease;
}
/* Navigation Bar */

/* Navigation Bar GitHub */
.nav-github-container {
    background-color: var(--primary);
    padding: 0px;
    border-radius: var(--radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: auto;
}

.nav-github-container p {
    color: #ffffff;
    font-size: 20px;
}

.nav-github-container a {
    text-decoration: none;
}

.nav-github-button {
    background-color: var(--primary);
    color: #ffffff;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

.nav-github-button:hover {
    background-color: var(--secondary);
}
/* Navigation Bar GitHub */
