#################################
# @author K10s Open Source Team #
# @since 01/01/2025             #
#################################

.vscode
App/Frontend/node_modules
App/Frontend/.angular
App/Frontend/dist