/**********************************/
/* @since 01/01/2025              */
/* @author K10s Open Source Team  */
/**********************************/

@import url('/app/css/global.css');


/* SetUp Grid */
.dashboard-header { grid-area: header; }
.dashboard-header-section1 { grid-area: header1; }
.dashboard-header-section2 { grid-area: header2; }
.dashboard-header-section3 { grid-area: header3; }
.dashboard-header-section4 { grid-area: header4; }
.dashboard-nav { grid-area: nav; }
.dashboard-main { grid-area: main; }

.dashboard-body {
    display: grid;
    grid-template-areas:
        'nav header header header header'
        'nav main main main main'
        'nav main main main main'
        'nav main main main main'
        'nav main main main main'
        'nav main main main main';
    grid-template-columns: 1fr 2fr 2fr 2fr;
    gap: 16px;
    padding: 10px;
    top: 20px;
    height: 95vh;
}
/* SetUp Grid */

/* Dashboard Header */
.dashboard-header {
    display: grid;
    grid-template-areas:
        'header1 header2 header3 header4';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.dashboard-header-section1,
.dashboard-header-section2,
.dashboard-header-section3,
.dashboard-header-section4 {
    background-color: var(--quaternary);
    color: var(--text);
    border-radius: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1rem;
}

.dashboard-header-article {
    font-size: 1.2rem;
    font-weight: 700;
}

.dashboard-header-article h2 {
    margin: 10px;
    padding: 0;
}

.dashboard-header-article p {
    margin: 10px;
    padding: 0;
}
/* Dashboard Header */

/* Dashboard Main */
.dashboard-main {
    background-color: var(--tertiary);
    color: var(--text);
    border-radius: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}
/* Dashboard Main */