/**********************************/
/* @since 01/01/2025              */
/* @author K10s Open Source Team  */
/**********************************/

@import url('/app/css/global.css');

/* Navigation bar */
.navigation-bar {
    background-color: var(--tertiary);
    color: var(--secondary);
    border-radius: 15px;
    top: 20px;
    left: 20px;
    width: 10%;
    height: 90%;
    min-width: 150px;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navigation-bar-header {
    color: var(--secondary);
    margin-bottom: 20px;
}

.navigation-bar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.navigation-bar-logo img {
    width: 120px;
    height: 120px;
}

.navigation-bar-username {
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
}

.navigation-bar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-bar-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.navigation-bar-menu-item i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.navigation-bar-menu-item span {
    color: var(--text);
    font-size: 1rem;
}

.navigation-bar-menu-item:hover {
    color: var(--accent);
}
/* Navigation bar */