<!--Author K10s Open Source Team-->
<body class="add-body">
<header class="add-header">
    <input
            type="file"
            accept=".yaml,.yml"
            (change)="onFileUpload($event)"
            [disabled]="textAreaActive"
    />
</header>
<app-nav class="nav" id="nav"></app-nav>
<main class="add-main">
    <div class="textarea-container">
        <button class="clear-button" (click)="clearTextarea()">✖</button>
        <textarea
                [(ngModel)]="yamlText"
                [placeholder]="'ADD_DEPLOYMENT.YAML_PLACEHOLDER' | translate"
                (input)="onTextInput()"
                [disabled]="fileUploaded"
        ></textarea>
    </div>


    <button  class="add-button cursor-pointer" (click)="sendData()" [disabled]="!yamlText && !fileContent">
        {{'ADD_DEPLOYMENT.DEPLOY' | translate}}
    </button>
</main>
<app-footer class="footer" id="footer"></app-footer>
</body>