<!--Author K10s Open Source Team-->
<table class="search-table">
    <thead>
    <tr>
        <th>{{ 'SEARCH.INDEX' | translate }}</th>
        <th>{{ 'SEARCH.NAMESPACE' | translate }}</th>
        <th>{{ 'SEARCH.SECRET_NAME' | translate }}</th>
        <th>{{ 'SEARCH.SECRET_TYPE' | translate }}</th>
        <th>{{ 'SEARCH.DATA' | translate }}</th>
        <th>{{ 'SEARCH.AGE' | translate }}</th>
    </tr>
    </thead>
    <tbody (scroll)="onScroll()" class="search-table-body">
        @for (secret of secrets; track secret.Name; let i = $index) {
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ secret.Namespace }}</td>
                <td>{{ secret.Name }}</td>
                <td>{{ secret.Type }}</td>
                <td class="data-length-column" (mousemove)="showTooltip($event, secret.Data)"
                    (mouseout)="hideTooltip()">
                    <div class="tooltip-container">
                        {{ secret.Data ? Object.keys(secret.Data).length : 0 }}
                    </div>
                </td>
                <td>{{ secret.Age }}</td>
            </tr>
        }
    </tbody>
</table>
<div id="tooltip" class="tooltip-text"></div>