<table class="search-table">
    <thead>
    <tr>
        <th>{{ 'SEARCH.NAMESPACE' | translate }}</th>
        <th>{{ 'SEARCH.SECRET_NAME' | translate }}</th>
        <th>{{ 'SEARCH.SECRET_TYPE' | translate }}</th>
        <th>{{ 'SEARCH.DATA' | translate }}</th>
        <th>{{ 'SEARCH.AGE' | translate }}</th>
    </tr>
    </thead>
    <tbody>
        @for (secret of secrets; track secret.Name) {
            <tr>
                <td>{{ secret.Namespace }}</td>
                <td>{{ secret.Name }}</td>
                <td>{{ secret.Type }}</td>
                <td class="data-length-column"  (mousemove)="showTooltip($event, secret.Data)" (mouseout)="hideTooltip()">
                    <div class="tooltip-container">
                        {{ Object.keys(secret.Data).length }}
                    </div>
                </td>
                <td>{{ secret.Age }}</td>
            </tr>
        }
    </tbody>
</table>
<div id="tooltip" class="tooltip-text"></div>