<table class="search-table">
    <thead>
    <tr>

        <th>{{ 'SEARCH.NAMESPACE' | translate }}</th>
        <th>{{ 'SEARCH.POD_NAME' | translate }}</th>
        <th>{{ 'SEARCH.SERVICES_READY' | translate }}</th>
        <th>{{ 'SEARCH.RESTART_COUNT' | translate }}</th>
        <th>{{ 'SEARCH.STATUS' | translate }}</th>
        <th>{{ 'SEARCH.POD_IP' | translate }}</th>
        <th>{{ 'SEARCH.NODE_NAME' | translate }}</th>
        <th>{{ 'SEARCH.AGE' | translate }}</th>

    </tr>
    </thead>
    <tbody>
        @for (pod of pods; track pod.Name){
            <tr>
                <td>{{ pod.Namespace }}</td>
                <td>{{ pod.Name }}</td>
                <td>{{ pod.ServicesReady }}</td>
                <td>{{ pod.Restarts }}</td>
                <td>{{ pod.Status }}</td>
                <td>{{ pod.IP }}</td>
                <td>{{ pod.Node }}</td>
                <td>{{ pod.Age }}</td>
            </tr>
        }
    </tbody>
</table>