/**********************************/
/* @since 01/01/2025              */
/* @author K10s Open Source Team  */
/**********************************/

.spider-web-container {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

canvas {
    pointer-events: auto;
}