<!--Author K10s Open Source Team-->
<table class="search-table">
    <thead>
    <tr>
        <th>{{ 'SEARCH.INDEX' | translate }}</th>
        <th>{{ 'SEARCH.NAMESPACE' | translate }}</th>
        <th>{{ 'SEARCH.SERVICE_NAME' | translate }}</th>
        <th>{{ 'SEARCH.SERVICE_TYPE' | translate }}</th>
        <th>{{ 'SEARCH.CLUSTER_IP' | translate }}</th>
        <th>{{ 'SEARCH.EXTERNAL_IP' | translate }}</th>
        <th>{{ 'SEARCH.PORTS' | translate }}</th>
        <th>{{ 'SEARCH.AGE' | translate }}</th>
    </tr>
    </thead>
    <tbody (scroll)="onScroll()" class="search-table-body">
        @for (service of services; track service.Name; let i = $index) {
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ service.Namespace }}</td>
                <td>{{ service.Name }}</td>
                <td>{{ service.Type }}</td>
                <td>{{ service.ClusterIp }}</td>
                <td>{{ service.ExternalIp }}</td>
                <td>{{ service.Ports }}</td>
                <td>{{ service.Age }}</td>
            </tr>
        }
        <app-table-skeleton/>
    </tbody>
</table>